* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 25px;
    background-color: #040404;
    color: white;
    position: relative;
}

.logo {
    cursor: pointer;
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: #867676;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    z-index: 1;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: rgb(249, 248, 250);
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #555;
}

.nav-right a {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-right a:hover {
    text-decoration: none;
    color: blue;
}

.layout {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    background:linear-gradient(45deg,rgb(90, 2, 90),blueviolet,rgb(255, 148, 255),rgb(78, 1, 73))

}
.main {
    background:linear-gradient(10deg,rgb(71, 4, 71),rgb(150, 31, 140),rgb(255, 92, 255)),pink;
    width: 275px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.cp {
    color:black;
}

.cp,
.MSC-IT,
.html,
.CSS,
.JavaScript,
.Python {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    margin: 23px 0;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}
.cp:hover,
.MSC-IT:hover,
.html:hover,
.CSS:hover,
.JavaScript:hover,
.Python:hover {
    box-shadow: 4px 4px 10px rgb(255, 102, 128);
    font-weight: bolder;
}

.html {
    margin: 8px 0;
}

.main a {
    text-decoration: none;
    color:black;
}

.main a:hover {
    text-decoration: none;
    color: black;
    text-shadow: 10px 4px 12px #1d1d1d;
}
#content {
    background-color:white;
    height: 500px;
    width: 1040px;
    display: flex;
    justify-content: center;    
    flex-direction: row;
    align-items: center;         
    border: #1d1d1d 1px solid;
    overflow: auto;              
    padding: 10px;
}

#inner-Content{
    padding: 50px;
    background-color: blueviolet;
    width: 600px;
    border: 2px solid black;
    border-radius: 25px;
    height: 300px;
}
#inner-Content img{
    border-radius: 50%;
    position: relative;
    right: 25px;
    top: 50px;
    border: 1px solid black;
    box-shadow: 0px 0px 12px white;
}
#inner-Content #h11{
    position: relative;
    left: 240px;
    bottom: 150px;
}
footer {
    background-color: rgb(11, 11, 11);
    color: white;
    text-align: center;
    padding: 20px;
    /* margin-top: 20px;*/
}

footer #AboutUs {
    padding: 30px;

}

footer #Contact {
    padding: 50px;
    color: rgb(251, 249, 249);
}